.video-background {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.video-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.mytitle {
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #b56a0e;
}
